###############################################
#     Trinity Wardend configuration file      #
###############################################
[Wardend]

###################################################################################################
# SECTION INDEX
#
#    WARDEND SETTINGS
#
###################################################################################################

###################################################################################################
# WARDEND SETTINGS
#
#    DataDir
#        Data directory setting.
#        Important: DataDir needs to be quoted, as it is a string which may contain space characters.
#        Example: "@prefix@/share/trinity"

DataDir = ""

#    LogsDir
#        Description: Logs directory setting.
#        Important:   LogsDir needs to be quoted, as the string might contain space characters.
#                     Logs directory must exists, or log file creation will be disabled.
#        Default:     "" - (Log files will be stored in the current path)

LogsDir = ""

#
#    WardenServerPort
#        Description: TCP port to reach the wardend server.
#        Default:     4321

WardenServerPort = 4321

#
#
#    BindIP
#        Description: Bind auth server to IP/hostname
#        Default:     "0.0.0.0" - (Bind to all IPs on the system)

BindIP = "0.0.0.0"

#
#    PidFile
#        Description: Auth server PID file.
#        Example:     "./authserver.pid"  - (Enabled)
#        Default:     ""                  - (Disabled)

PidFile = ""

#
#    LogLevel
#        Description: Server console level of logging
#        Default:     0 - (Minimum)
#                     1 - (Basic)
#                     2 - (Detail)
#                     3 - (Full/Debug)

LogLevel = 0

#
#    LogFile
#        Description: Log file for main server log.
#        Default:     "Auth.log" - (Enabled)
#                     ""           - (Disabled)

LogFile = "wardend.log"

#
#    SQLDriverLogFile
#        Description: Log file for SQL driver events.
#        Example:     "SQLDriver.log" - (Enabled)
#        Default:      ""             - (Disabled)

SQLDriverLogFile = ""

#
#    LogTimestamp
#        Description: Append timestamp to the server log file name.
#                     Logname_YYYY-MM-DD_HH-MM-SS.Ext for Logname.Ext
#        Default:     0 - (Disabled)
#                     1 - (Enabled)

LogTimestamp = 0

#
#    LogFileLevel
#        Description: Server file level of logging
#        Default:     0 - (Minimum)
#                     1 - (Basic)
#                     2 - (Detail)
#                     3 - (Full/Debug)

LogFileLevel = 0

#
#    LogColors
#        Description: Colors for log messages (Format: "normal basic detail debug").
#        Colors:      0  - Black
#                     1  - Red
#                     2  - Green
#                     3  - Brown
#                     4  - Blue
#                     5  - Magenta
#                     6  - Cyan
#                     7  - Grey
#                     8  - Yellow
#                     9  - Lred
#                     10 - Lgreen
#                     11 - Lblue
#                     12 - Lmagenta
#                     13 - Lcyan
#                     14 - White
#        Example:     "13 11 9 5" - (Enabled)
#        Default:     ""          - (Disabled)

LogColors = ""

#
#    UseProcessors
#        Description: Processors mask for Windows based multi-processor systems.
#        Default:     0  - (Selected by OS)
#                     1+ - (Bit mask value of selected processors)

UseProcessors = 0

#
#    ProcessPriority
#        Description: Process priority setting for Windows based systems.
#        Default:     1 - (High)
#                     0 - (Normal)

ProcessPriority = 1

#
###################################################################################################